*{
	margin: 0px;
	font-family: 'proximanova-light-webfont';
}
@font-face{
	font-family: proximanova-bold-webfont;
	src: url(../fonts/nova/proximanova-bold-webfont.ttf);
}
@font-face{
	font-family:proximanova-light-webfont;
	src: url(../fonts/nova/proximanova-light-webfont.ttf);
}
@font-face{
	font-family: proximanova-regitalic-webfont;
	src: url(../fonts/nova/proximanova-regitalic-webfont.ttf);
}
@font-face{
	font-family: proximanova-regular-webfont;
	src: url(../fonts/nova/proximanova-regular-webfont.ttf);
}
@font-face{
	font-family: ProximaNova-Semibold;
	src: url(../fonts/nova/ProximaNova-Semibold.ttf);
}
.container-fluid{
	width: 100%;
}
header{
    padding: 10px 100px;
    border-bottom: 1px solid silver;
}
header nav{
	float: right;
	margin-top: 30px;
}
header a{
    text-decoration: none;
    color: gray;
    font-family: 'proximanova-light-webfont';
    padding: 30px;
    font-size: 20px;
}
header a:hover{
    text-decoration: none;
    color: black;
    font-family: 'proximanova-light-webfont';
    padding: 30px;
    font-size: 20px;
}

footer{
	padding-top: 30px;
	padding-bottom: 50px;
}
.box-footer nav{
	margin-top: 20px;
}
.box-footer a{
    text-decoration: none;
    color: gray;
    margin: 10px;
}
.box-footer a:hover{
    text-decoration: none;
    color: #179AD6 ;
    margin: 10px;
}

.box-redes{
	margin-top: 30px;
}
.copy{
	font-size: 12px;
	color: silver;
	margin-top: 15px;
}
.text-white{
	color: white !important;
}
.text-center{
	text-align: center;
}

@media screen and (min-width:299px) and (max-width: 768px){
	.container{
		width: 100%;
	}
	.col-xs-12{
		width: 100%;
	}
	.w-100-xs{
		width: 100%;
	}
	.fs-1-8-rem{
	   font-size: 1.8rem;
	}
	.bg-form {
	    background-image: none;
	    background-color: #f3f1f1;
	}
	.text-blue-xs{
		color:#14688A !important;
	}	
	.text-align{
		text-align: center;
	}
	.p-0{
		padding:0px;
	}
	.navbar {
	    margin-top: 0px !important	;
	    margin-bottom: 0px !important;
	}
	.p-t-0{
		padding-top: 0px;
	}
	
	.img-xs{
		position: relative;
		left:90px;
		height: 35px;
		text-align: center;
		top: -5px;

	}
	.navbar-header {
		padding-bottom: 7px;
	}
    .pr-21-xs {
    	padding-right: 21px;
    }
    .pl-21-xs {
    	padding-left: 21px;
    }
}
@media only screen and (min-width: 768px) {
  .container-xs,
  .container-sm,
  .container-md {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto; }

  .container-xs {
    width: 508px; }

  .container-sm {
    width: 748px; }

  .container-md {
    width: 968px; } }
@media only screen and (max-width: 480px) {
  .container-xs,
  .container-sm,
  .container-md {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto; } }