
/* Shortcuts */

.pd-0{
	padding: 0;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.m-a{
	margin: auto;
}
.m-t{
	margin-top: 50px;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-gray{
	color: gray;
}
.text-blue{
	color:#002366;
}
.text-white{
	color: white;
}
.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: rgb(244, 244, 244);
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}